<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="mscorlib" publicKeyToken="8fc0e3af5abcb6c4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.7.0.0" newVersion="1.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Script.Web" publicKeyToken="8fc0e3af5abcb6c4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.0.0.59" newVersion="0.0.0.59" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>