<div ng-controller="GameManagerController">
    <div floating-window left="'25%'" top="'25%'" height="'235px'" width="'275px'"
         window-title="'Game Manager'" visible="visible">
        
        <div fancy-list items="model.games" bind="model.selectedGame" style="min-height: 200px; width: 100%;">
            <div style="width: 100%; height: 40px">Game: {{item.name}}</div>
        </div> 
        <div class="btn-group">
        <button class="btn col-main" ng-click="model.deleteGame()">Delete Game</button>
            <button class="btn col-main" ng-click="model.createGame()">Create New Game</button>
            </div>
    </div>
</div>