<div ng-controller="GameEditorController">
    <div floating-window left="'35%'" top="'35%'" height="'200px'" width="'250px'" title="'Game Editor!'"
         visible="visible">
        EDit your game heres
        <input type="text" ng-model="model.game.name" placeholder="Name" />
        <input type="text" ng-model="model.game.description" placeholder="Description" />
        <input type="text" ng-model="model.game.maxNumberOfPlayers" placeholder="Max Number Of Players" />
        <section>
            <button ng-click="model.openCode()">Code</button>
            <button ng-click="model.openLayout()">Layout</button>
            <button ng-click="model.openEffects()">Effects</button>
            <button ng-click="model.openTest()">Test</button>
            <button ng-click="model.updateGame() ">save</button>
        </section>
        {{model.updateStatus}}
    </div>
</div>