<div ng-controller="HomeController">
    <div floating-window left="'50%'" top="'50%'" height="'450px'" width="'600px'"
        window-title="'Home'" visible="visible">
        <h3>Welcome {{model.user.userName}}!</h3>
        <div style="width: 100%; height: 100%;">
            <div style="width: 33%; float: left;">
                <h5 class="column-header text-center">
                    <span class="label label-default">Game Types
                    </span>
                </h5>

                <div fancy-list items="model.gameTypes" bind="model.selectedGameType" style="height: 300px;">
                    <button class="btn" style="width: 100%; height: 30px">{{item.name}}</button>
                </div>
                <button class="btn btn-primary icon-plus-sign" style="width: 100%;" ng-click="model.createGame()">&nbsp;&nbsp;Create Game!</button>
            </div>
            <div style="width: 33%; float: left;">
                <h5 class="column-header text-center">
                    <span class="label label-default">Rooms</span>
                    <button class="btn btn-success icon-refresh right-justify" ng-click="model.gameTypeSelected()"></button>
                </h5>

                <div fancy-list items="model.rooms" bind="model.selectedRoom" style="height: 300px;">
                    <button class="btn" style="width: 100%; height: 40px">Room: {{item.roomName}}</button>
                </div>
                <button class="btn  btn-primary icon-plus-sign" style="width: 100%;" ng-click="model.createRoom()">&nbsp;&nbsp;Create Room!</button>
            </div>
            <div style="width: 34%; float: left;">
                <div ng-show="model.selectedRoom">

                    <h5 class="column-header text-center">
                        <span>Game Type: </span>
                        <span class="label label-primary">{{model.selectedGameType.name}}</span>
                        <br />
                        <span>Room Name: </span>
                        <span class="label label-primary">{{model.selectedRoom.roomName}}</span>
                    </h5>
                    <div>
                        <button class="btn btn-primary" style="width: 46%;" ng-click="model.joinRoom()">Join!</button>
                        <button class="btn btn-primary" style="width: 46%;" ng-click="">Spectate!</button>
                    </div>
                    <div fancy-list items="model.selectedRoom.players" bind="model.highlightedPlayer" style="height: 226px;">
                        <div style="width: 100%; height: 30px">User: {{item.userName}}</div>
                    </div>
                    <button class="btn  btn-success icon-refresh" style="width: 100%;" ng-click="model.roomSelected()"></button>
                </div>
            </div>
        </div>
    </div>
</div>
