<div ng-controller="MessageController">
    <div floating-window left="'50%'" top="'50%'" height="'80px'" width="'200px'" window-title="model.title"
         visible="true">
        <div ng-switch="model.messageType" id="5">
            <div ng-switch-when="okay">
                <span>{{model.message}}</span>
                <button ng-click="model.callback()">Okay</button>
            </div>
            <div ng-switch-when="question">
                <span>{{model.message}}</span>
                <input type="text" ng-model="model.response" />
                <button ng-click="model.callback()">Okay</button>
            </div>
        </div>
    </div>
</div>