
/NodeJS/bin/Debug/.gitignore
/NodeJS/bin/Debug/NodeJS.txt
/NodeJS/bin/Debug/NodeJS.xml
/NodeJS/bin/Debug/Script.Web.xml
/NodeJS/bin/Debug/mscorlib.xml
/NodeJS/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/NodeJS/obj/Debug/NodeJS.csproj.FileListAbsolute.txt
/NodeJS/obj/Debug/NodeJS.dll
/Redis/bin/Debug/NodeJS.dll
/Redis/bin/Debug/NodeJS.xml
/Redis/bin/Debug/Redis.dll
/Redis/bin/Debug/Redis.txt
/Redis/bin/Debug/Redis.xml
/Redis/bin/Debug/Script.Web.dll
/Redis/bin/Debug/Script.Web.xml
/Redis/bin/Debug/mscorlib.dll
/Redis/bin/Debug/mscorlib.xml
/Redis/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Redis/obj/Debug/Redis.csproj.FileListAbsolute.txt
/Redis/obj/Debug/Redis.csprojResolveAssemblyReference.cache
/Redis/obj/Debug/Redis.dll
/ShufflyNode/bin/Debug/ShufflyNode.debug.js
/ShufflyNode/bin/Debug/ShufflyNode.dll
/ShufflyNode/bin/Debug/ShufflyNode.js
/ShufflyNode/bin/Debug/ShufflyNode.xml
/ShufflyNode/bin/Debug/mscorlib.debug.js
/ShufflyNode/bin/Debug/mscorlib.js
/ShufflyNode/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/ShufflyNode/obj/Debug/ShufflyNode.csproj.FileListAbsolute.txt
/ShufflyNode/obj/Debug/ShufflyNode.csprojResolveAssemblyReference.cache
/ShufflyNode/obj/Debug/ShufflyNode.dll
/ShufflyNode/obj/Debug/ShufflyNode.pdb
*.suo
/SocketIO/bin/Debug/NodeJS.dll
/SocketIO/bin/Debug/NodeJS.xml
/SocketIO/bin/Debug/Script.Web.dll
/SocketIO/bin/Debug/Script.Web.xml
/SocketIO/bin/Debug/SocketIO.dll
/SocketIO/bin/Debug/SocketIO.txt
/SocketIO/bin/Debug/SocketIO.xml
/SocketIO/bin/Debug/mscorlib.dll
/SocketIO/bin/Debug/mscorlib.xml
/SocketIO/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/SocketIO/obj/Debug/SocketIO.csproj.FileListAbsolute.txt
/SocketIO/obj/Debug/SocketIO.csprojResolveAssemblyReference.cache
/SocketIO/obj/Debug/SocketIO.dll
/_ReSharper.ShufflySharp/AspFileDataCache.dat
/_ReSharper.ShufflySharp/BuildScriptCache/.crc
/_ReSharper.ShufflySharp/BuildScriptCache/.version
/_ReSharper.ShufflySharp/BuildScriptCache/6/4632794a.dat
/_ReSharper.ShufflySharp/ConditionalNames/.crc
/_ReSharper.ShufflySharp/ConditionalNames/.version
/_ReSharper.ShufflySharp/ConditionalNames/6/4632794a.dat
/_ReSharper.ShufflySharp/JSTest/.crc
/_ReSharper.ShufflySharp/JSTest/.version
/_ReSharper.ShufflySharp/JavaScriptCache/.crc
/_ReSharper.ShufflySharp/JavaScriptCache/.version
/_ReSharper.ShufflySharp/JavaScriptCache/6/4632794a.dat
/_ReSharper.ShufflySharp/JbDecompilerCache/metadata/mscorlib-60b0/Assembly.Location.txt
/_ReSharper.ShufflySharp/JbDecompilerCache/metadata/mscorlib-60b0/t/System/Math.cs
/_ReSharper.ShufflySharp/JbDecompilerCache/metadata/mscorlib-60b0/t/System/Math.cs.flags
/_ReSharper.ShufflySharp/JbDecompilerCache/metadata/mscorlib-60b0/t/System/Math.cs.info
/_ReSharper.ShufflySharp/MVC/.crc
/_ReSharper.ShufflySharp/MVC/.version
/_ReSharper.ShufflySharp/ModuleIds.xml
/_ReSharper.ShufflySharp/NamedArguments/.crc
/_ReSharper.ShufflySharp/NamedArguments/.version
/_ReSharper.ShufflySharp/NamedArguments/6/4632794a.dat
/_ReSharper.ShufflySharp/PersistenIdIndex.bin
/_ReSharper.ShufflySharp/RecentItems/RecentFiles.dat
/_ReSharper.ShufflySharp/Resources/.crc
/_ReSharper.ShufflySharp/Resources/.version
/_ReSharper.ShufflySharp/SymbolCache.bin
/_ReSharper.ShufflySharp/TagPrefixes/.crc
/_ReSharper.ShufflySharp/TagPrefixes/.version
/_ReSharper.ShufflySharp/TodoItems/.crc
/_ReSharper.ShufflySharp/TodoItems/.version
/_ReSharper.ShufflySharp/TodoItems/6/4632794a.dat
/_ReSharper.ShufflySharp/WebSymbols/.crc
/_ReSharper.ShufflySharp/WebSymbols/.version
/_ReSharper.ShufflySharp/WordIndex/.crc
/_ReSharper.ShufflySharp/WordIndex/.version
/_ReSharper.ShufflySharp/WordIndex/6/4632794a.dat
/_ReSharper.ShufflySharp/XmlIndex/Script.Web.xml/7F7FF162.bin
/_ReSharper.ShufflySharp/XmlIndex/ShufflyNode.xml/146509B0.bin
/_ReSharper.ShufflySharp/XmlIndex/System.4.0.0.0.Contracts.xml/7458FC03.bin
/_ReSharper.ShufflySharp/XmlIndex/System.4.0.0.0.Nullness.Generated.xml/5304AF33.bin
/_ReSharper.ShufflySharp/XmlIndex/System.4.0.0.0.Pure.xml/403889F0.bin
/_ReSharper.ShufflySharp/XmlIndex/System.Configuration.4.0.0.0.Contracts.xml/8AA99CC3.bin
/_ReSharper.ShufflySharp/XmlIndex/System.Configuration.4.0.0.0.Nullness.Generated.xml/5C04A9F3.bin
/_ReSharper.ShufflySharp/XmlIndex/System.Configuration.4.0.0.0.Pure.xml/A30FD330.bin
/_ReSharper.ShufflySharp/XmlIndex/System.Configuration.xml/092A1070.bin
/_ReSharper.ShufflySharp/XmlIndex/System.Core.4.0.0.0.Contracts.xml/9A69C6A3.bin
/_ReSharper.ShufflySharp/XmlIndex/System.Core.4.0.0.0.Nullness.Generated.xml/8E5F4293.bin
/_ReSharper.ShufflySharp/XmlIndex/System.Core.4.0.0.0.Pure.xml/D7464B10.bin
/_ReSharper.ShufflySharp/XmlIndex/System.Core.LinqTunnel.xml/63F26974.bin
/_ReSharper.ShufflySharp/XmlIndex/System.Core.Nullness.Manual.xml/31BDD0E2.bin
/_ReSharper.ShufflySharp/XmlIndex/System.Data.SqlXml.4.0.0.0.Nullness.Generated.xml/B9F432D3.bin
/_ReSharper.ShufflySharp/XmlIndex/System.Data.SqlXml.xml/48CF6F29.bin
/_ReSharper.ShufflySharp/XmlIndex/System.I18n.xml/E767B348.bin
/_ReSharper.ShufflySharp/XmlIndex/System.Nullness.Manual.xml/AC02D602.bin
/_ReSharper.ShufflySharp/XmlIndex/System.Numerics.4.0.0.0.Nullness.Generated.xml/0D729213.bin
/_ReSharper.ShufflySharp/XmlIndex/System.Numerics.xml/F65D6778.bin
/_ReSharper.ShufflySharp/XmlIndex/System.Security.4.0.0.0.Contracts.xml/203E41A3.bin
/_ReSharper.ShufflySharp/XmlIndex/System.Security.4.0.0.0.Nullness.Generated.xml/F66E1D93.bin
/_ReSharper.ShufflySharp/XmlIndex/System.Security.4.0.0.0.Pure.xml/3CA1E610.bin
/_ReSharper.ShufflySharp/XmlIndex/System.Security.xml/55841E76.bin
/_ReSharper.ShufflySharp/XmlIndex/System.Xml.4.0.0.0.Contracts.xml/53D95363.bin
/_ReSharper.ShufflySharp/XmlIndex/System.Xml.4.0.0.0.Nullness.Generated.xml/DD97C153.bin
/_ReSharper.ShufflySharp/XmlIndex/System.Xml.4.0.0.0.Pure.xml/5A1C7B50.bin
/_ReSharper.ShufflySharp/XmlIndex/System.Xml.Attributes.xml/09EED2C9.bin
/_ReSharper.ShufflySharp/XmlIndex/System.Xml.I18n.xml/8B551FA8.bin
/_ReSharper.ShufflySharp/XmlIndex/System.Xml.xml/48B5EA79.bin
/_ReSharper.ShufflySharp/XmlIndex/System.xml/74BB9F68.bin
/_ReSharper.ShufflySharp/XmlIndex/System.xml/C3B3EEEE.bin
/_ReSharper.ShufflySharp/XmlIndex/mscorlib.4.0.0.0.Contracts.xml/0DED0883.bin
/_ReSharper.ShufflySharp/XmlIndex/mscorlib.4.0.0.0.Interfaces.Nullness.Generated.xml/620DC5CB.bin
/_ReSharper.ShufflySharp/XmlIndex/mscorlib.4.0.0.0.Nullness.Generated.xml/772ECBB3.bin
/_ReSharper.ShufflySharp/XmlIndex/mscorlib.4.0.0.0.Pure.xml/6572C670.bin
/_ReSharper.ShufflySharp/XmlIndex/mscorlib.I18n.xml/366D6FC8.bin
/_ReSharper.ShufflySharp/XmlIndex/mscorlib.Nullness.Manual.xml/A029C282.bin
/_ReSharper.ShufflySharp/XmlIndex/mscorlib.ValueFlow.xml/4E59B0BF.bin
/_ReSharper.ShufflySharp/XmlIndex/mscorlib.xml/05998BE8.bin
/_ReSharper.ShufflySharp/XmlIndex/mscorlib.xml/743ADB6C.bin
/_ReSharper.ShufflySharp/XmlIndex/mscorlib.xml/E5458374.bin
/_ReSharper.ShufflySharp/XmlIndex/system.core.xml/11686E5B.bin
/_ReSharper.SocketIO/AspFileDataCache.dat
/_ReSharper.SocketIO/BuildScriptCache/.crc
/_ReSharper.SocketIO/BuildScriptCache/.version
/_ReSharper.SocketIO/ConditionalNames/.crc
/_ReSharper.SocketIO/ConditionalNames/.version
/_ReSharper.SocketIO/ConditionalNames/8/3ffe77e8.dat
/_ReSharper.SocketIO/JSTest/.crc
/_ReSharper.SocketIO/JSTest/.version
/_ReSharper.SocketIO/JavaScriptCache/.crc
/_ReSharper.SocketIO/JavaScriptCache/.version
/_ReSharper.SocketIO/JavaScriptCache/1/18ea541d.dat
/_ReSharper.SocketIO/MVC/.crc
/_ReSharper.SocketIO/MVC/.version
/_ReSharper.SocketIO/ModuleIds.xml
/_ReSharper.SocketIO/NamedArguments/.crc
/_ReSharper.SocketIO/NamedArguments/.version
/_ReSharper.SocketIO/NamedArguments/8/3ffe77e8.dat
/_ReSharper.SocketIO/PersistenIdIndex.bin
/_ReSharper.SocketIO/RecentItems/RecentFiles.dat
/_ReSharper.SocketIO/Resources/.crc
/_ReSharper.SocketIO/Resources/.version
/_ReSharper.SocketIO/SymbolCache.bin
/_ReSharper.SocketIO/TagPrefixes/.crc
/_ReSharper.SocketIO/TagPrefixes/.version
/_ReSharper.SocketIO/TodoItems/.crc
/_ReSharper.SocketIO/TodoItems/.version
/_ReSharper.SocketIO/TodoItems/8/3ffe77e8.dat
/_ReSharper.SocketIO/WebSymbols/.crc
/_ReSharper.SocketIO/WebSymbols/.version
/_ReSharper.SocketIO/WordIndex/.crc
/_ReSharper.SocketIO/WordIndex/.version
/_ReSharper.SocketIO/WordIndex/8/3ffe77e8.dat
/_ReSharper.SocketIO/XmlIndex/Script.Web.xml/7F7FF162.bin
/_ReSharper.SocketIO/XmlIndex/System.4.0.0.0.Contracts.xml/7458FC03.bin
/_ReSharper.SocketIO/XmlIndex/System.4.0.0.0.Nullness.Generated.xml/5304AF33.bin
/_ReSharper.SocketIO/XmlIndex/System.4.0.0.0.Pure.xml/403889F0.bin
/_ReSharper.SocketIO/XmlIndex/System.Configuration.4.0.0.0.Contracts.xml/8AA99CC3.bin
/_ReSharper.SocketIO/XmlIndex/System.Configuration.4.0.0.0.Nullness.Generated.xml/5C04A9F3.bin
/_ReSharper.SocketIO/XmlIndex/System.Configuration.4.0.0.0.Pure.xml/A30FD330.bin
/_ReSharper.SocketIO/XmlIndex/System.Configuration.xml/092A1070.bin
/_ReSharper.SocketIO/XmlIndex/System.Core.4.0.0.0.Contracts.xml/9A69C6A3.bin
/_ReSharper.SocketIO/XmlIndex/System.Core.4.0.0.0.Nullness.Generated.xml/8E5F4293.bin
/_ReSharper.SocketIO/XmlIndex/System.Core.4.0.0.0.Pure.xml/D7464B10.bin
/_ReSharper.SocketIO/XmlIndex/System.Core.LinqTunnel.xml/63F26974.bin
/_ReSharper.SocketIO/XmlIndex/System.Core.Nullness.Manual.xml/31BDD0E2.bin
/_ReSharper.SocketIO/XmlIndex/System.Core.xml/11686E5B.bin
/_ReSharper.SocketIO/XmlIndex/System.Data.SqlXml.4.0.0.0.Nullness.Generated.xml/B9F432D3.bin
/_ReSharper.SocketIO/XmlIndex/System.Data.SqlXml.xml/48CF6F29.bin
/_ReSharper.SocketIO/XmlIndex/System.I18n.xml/E767B348.bin
/_ReSharper.SocketIO/XmlIndex/System.Nullness.Manual.xml/AC02D602.bin
/_ReSharper.SocketIO/XmlIndex/System.Numerics.4.0.0.0.Nullness.Generated.xml/0D729213.bin
/_ReSharper.SocketIO/XmlIndex/System.Numerics.xml/F65D6778.bin
/_ReSharper.SocketIO/XmlIndex/System.Security.4.0.0.0.Contracts.xml/203E41A3.bin
/_ReSharper.SocketIO/XmlIndex/System.Security.4.0.0.0.Nullness.Generated.xml/F66E1D93.bin
/_ReSharper.SocketIO/XmlIndex/System.Security.4.0.0.0.Pure.xml/3CA1E610.bin
/_ReSharper.SocketIO/XmlIndex/System.Security.xml/55841E76.bin
/_ReSharper.SocketIO/XmlIndex/System.Xml.4.0.0.0.Contracts.xml/53D95363.bin
/_ReSharper.SocketIO/XmlIndex/System.Xml.4.0.0.0.Nullness.Generated.xml/DD97C153.bin
/_ReSharper.SocketIO/XmlIndex/System.Xml.4.0.0.0.Pure.xml/5A1C7B50.bin
/_ReSharper.SocketIO/XmlIndex/System.Xml.Attributes.xml/09EED2C9.bin
/_ReSharper.SocketIO/XmlIndex/System.Xml.I18n.xml/8B551FA8.bin
/_ReSharper.SocketIO/XmlIndex/System.Xml.xml/48B5EA79.bin
/_ReSharper.SocketIO/XmlIndex/System.xml/74BB9F68.bin
/_ReSharper.SocketIO/XmlIndex/System.xml/C3B3EEEE.bin
/_ReSharper.SocketIO/XmlIndex/mscorlib.4.0.0.0.Contracts.xml/0DED0883.bin
/_ReSharper.SocketIO/XmlIndex/mscorlib.4.0.0.0.Interfaces.Nullness.Generated.xml/620DC5CB.bin
/_ReSharper.SocketIO/XmlIndex/mscorlib.4.0.0.0.Nullness.Generated.xml/772ECBB3.bin
/_ReSharper.SocketIO/XmlIndex/mscorlib.4.0.0.0.Pure.xml/6572C670.bin
/_ReSharper.SocketIO/XmlIndex/mscorlib.I18n.xml/366D6FC8.bin
/_ReSharper.SocketIO/XmlIndex/mscorlib.Nullness.Manual.xml/A029C282.bin
/_ReSharper.SocketIO/XmlIndex/mscorlib.ValueFlow.xml/4E59B0BF.bin
/_ReSharper.SocketIO/XmlIndex/mscorlib.xml/05998BE8.bin
/_ReSharper.SocketIO/XmlIndex/mscorlib.xml/743ADB6C.bin
/_ReSharper.SocketIO/XmlIndex/mscorlib.xml/E5458374.bin
/ShufflySharp.sln.DotSettings.user
/_ReSharper.ShufflySharp/BuildScriptCache/6/25cced6a.dat
/_ReSharper.ShufflySharp/CompletionStatistics/Statistics.dat
/_ReSharper.ShufflySharp/XmlIndex/NodeJS.xml/AF4FA78A.bin
/Fibers/bin/Debug/Fibers.dll
/Fibers/bin/Debug/Fibers.txt
/Fibers/bin/Debug/Fibers.xml
/Fibers/bin/Debug/NodeJS.dll
/Fibers/bin/Debug/NodeJS.xml
/Fibers/bin/Debug/Script.Web.dll
/Fibers/bin/Debug/Script.Web.xml
/Fibers/bin/Debug/mscorlib.dll
/Fibers/bin/Debug/mscorlib.xml
/Fibers/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Fibers/obj/Debug/Fibers.csproj.FileListAbsolute.txt
/Fibers/obj/Debug/Fibers.csprojResolveAssemblyReference.cache
/Fibers/obj/Debug/Fibers.dll
/ShufflyGame/bin/Debug/NodeJS.dll
/ShufflyGame/bin/Debug/NodeJS.xml
/ShufflyGame/bin/Debug/Script.Web.dll
/ShufflyGame/bin/Debug/Script.Web.xml
/ShufflyGame/bin/Debug/ShufflyGame.dll
/ShufflyGame/bin/Debug/ShufflyGame.txt
/ShufflyGame/bin/Debug/ShufflyGame.xml
/ShufflyGame/bin/Debug/mscorlib.dll
/ShufflyGame/bin/Debug/mscorlib.xml
/ShufflyGame/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/ShufflyGame/obj/Debug/ShufflyGame.csproj.FileListAbsolute.txt
/ShufflyGame/obj/Debug/ShufflyGame.csprojResolveAssemblyReference.cache
/ShufflyGame/obj/Debug/ShufflyGame.dll
/_ReSharper.ShufflySharp/JbDecompilerCache/metadata/mscorlib-60b0/t/System/Collections/Dictionary.cs
/_ReSharper.ShufflySharp/JbDecompilerCache/metadata/mscorlib-60b0/t/System/Collections/Dictionary.cs.flags
/_ReSharper.ShufflySharp/JbDecompilerCache/metadata/mscorlib-60b0/t/System/Collections/Dictionary.cs.info
/_ReSharper.ShufflySharp/JbDecompilerCache/metadata/mscorlib-60b0/t/System/Runtime/CompilerServices/GlobalMethodsAttribute.cs
/_ReSharper.ShufflySharp/JbDecompilerCache/metadata/mscorlib-60b0/t/System/Runtime/CompilerServices/GlobalMethodsAttribute.cs.flags
/_ReSharper.ShufflySharp/JbDecompilerCache/metadata/mscorlib-60b0/t/System/Runtime/CompilerServices/GlobalMethodsAttribute.cs.info
/_ReSharper.ShufflySharp/JbDecompilerCache/metadata/mscorlib-60b0/t/System/Runtime/CompilerServices/ScriptNameAttribute.cs
/_ReSharper.ShufflySharp/JbDecompilerCache/metadata/mscorlib-60b0/t/System/Runtime/CompilerServices/ScriptNameAttribute.cs.flags
/_ReSharper.ShufflySharp/JbDecompilerCache/metadata/mscorlib-60b0/t/System/Runtime/CompilerServices/ScriptNameAttribute.cs.info
/_ReSharper.ShufflySharp/JbDecompilerCache/metadata/mscorlib-60b0/t/System/Serialization/Json.cs
/_ReSharper.ShufflySharp/JbDecompilerCache/metadata/mscorlib-60b0/t/System/Serialization/Json.cs.flags
/_ReSharper.ShufflySharp/JbDecompilerCache/metadata/mscorlib-60b0/t/System/Serialization/Json.cs.info
/_ReSharper.ShufflySharp/JbPdbInfo/140eae944b6cc1ed8e6053597fd6932458e022ad
/_ReSharper.ShufflySharp/JbPdbInfo/350d6a0df885d567f7a237643addda0c703d86d4
/_ReSharper.ShufflySharp/JbPdbInfo/beb27aca016b653079e2e33911b6ef9955b289fd
/_ReSharper.ShufflySharp/XmlIndex/Accessibility.xml/59F683E5.bin
/_ReSharper.ShufflySharp/XmlIndex/Microsoft.Build.Framework.4.0.0.0.Nullness.Generated.xml/91BD6FD3.bin
/_ReSharper.ShufflySharp/XmlIndex/Microsoft.Build.Framework.xml/5B4D04B5.bin
/_ReSharper.ShufflySharp/XmlIndex/Microsoft.Build.Tasks.v4.0.4.0.0.0.Nullness.Generated.xml/AB623953.bin
/_ReSharper.ShufflySharp/XmlIndex/Microsoft.Build.Tasks.v4.0.xml/390E8A25.bin
/_ReSharper.ShufflySharp/XmlIndex/Microsoft.Build.Utilities.v4.0.4.0.0.0.Nullness.Generated.xml/07D57913.bin
/_ReSharper.ShufflySharp/XmlIndex/Microsoft.Build.Utilities.v4.0.xml/1A2D939D.bin
/_ReSharper.ShufflySharp/XmlIndex/Microsoft.CSharp.4.0.0.0.Nullness.Generated.xml/10F25633.bin
/_ReSharper.ShufflySharp/XmlIndex/Microsoft.CSharp.xml/4DDA1CCA.bin
/_ReSharper.ShufflySharp/XmlIndex/Microsoft.VisualC.xml/90D3ABE6.bin
/_ReSharper.ShufflySharp/XmlIndex/NodeJS.xml/C77C29E0.bin
/_ReSharper.ShufflySharp/XmlIndex/SMDiagnostics.4.0.0.0.Nullness.Generated.xml/8E9945D3.bin
/_ReSharper.ShufflySharp/XmlIndex/System.Configuration.Install.4.0.0.0.Contracts.xml/F6158D63.bin
/_ReSharper.ShufflySharp/XmlIndex/System.Configuration.Install.4.0.0.0.Nullness.Generated.xml/28353B53.bin
/_ReSharper.ShufflySharp/XmlIndex/System.Configuration.Install.xml/7FB1C71F.bin
/_ReSharper.ShufflySharp/XmlIndex/System.Configuration.xml/51C94CD5.bin
/_ReSharper.ShufflySharp/XmlIndex/System.Data.4.0.0.0.Contracts.xml/68A7E423.bin
/_ReSharper.ShufflySharp/XmlIndex/System.Data.4.0.0.0.Nullness.Generated.xml/7A169013.bin
/_ReSharper.ShufflySharp/XmlIndex/System.Data.4.0.0.0.Pure.xml/595BF890.bin
/_ReSharper.ShufflySharp/XmlIndex/System.Data.DataSetExtensions.4.0.0.0.Nullness.Generated.xml/DB866913.bin
/_ReSharper.ShufflySharp/XmlIndex/System.Data.DataSetExtensions.I18n.xml/B16CE5E8.bin
/_ReSharper.ShufflySharp/XmlIndex/System.Data.DataSetExtensions.xml/4A8BA0A6.bin
/_ReSharper.ShufflySharp/XmlIndex/System.Data.I18n.xml/51BDCCE8.bin
/_ReSharper.ShufflySharp/XmlIndex/System.Data.OracleClient.4.0.0.0.Nullness.Generated.xml/9BDAABD3.bin
/_ReSharper.ShufflySharp/XmlIndex/System.Data.OracleClient.xml/27DDCE31.bin
/_ReSharper.ShufflySharp/XmlIndex/System.Data.SqlXml.xml/9A03804C.bin
/_ReSharper.ShufflySharp/XmlIndex/System.Data.xml/7BF6DA70.bin
/_ReSharper.ShufflySharp/XmlIndex/System.Deployment.4.0.0.0.Nullness.Generated.xml/B159D593.bin
/_ReSharper.ShufflySharp/XmlIndex/System.Deployment.xml/CC017739.bin
/_ReSharper.ShufflySharp/XmlIndex/System.Design.4.0.0.0.Nullness.Generated.xml/97CA2CD3.bin
/_ReSharper.ShufflySharp/XmlIndex/System.Design.xml/66D504B2.bin
/_ReSharper.ShufflySharp/XmlIndex/System.DirectoryServices.4.0.0.0.Nullness.Generated.xml/494E7693.bin
/_ReSharper.ShufflySharp/XmlIndex/System.DirectoryServices.Protocols.4.0.0.0.Nullness.Generated.xml/CFA46BF3.bin
/_ReSharper.ShufflySharp/XmlIndex/System.DirectoryServices.Protocols.xml/A1B5E32C.bin
/_ReSharper.ShufflySharp/XmlIndex/System.DirectoryServices.xml/14397267.bin
/_ReSharper.ShufflySharp/XmlIndex/System.Drawing.4.0.0.0.Contracts.xml/90ED1C03.bin
/_ReSharper.ShufflySharp/XmlIndex/System.Drawing.4.0.0.0.Nullness.Generated.xml/283CCF33.bin
/_ReSharper.ShufflySharp/XmlIndex/System.Drawing.4.0.0.0.Pure.xml/07B8A9F0.bin
/_ReSharper.ShufflySharp/XmlIndex/System.Drawing.Design.4.0.0.0.Nullness.Generated.xml/EFA69853.bin
/_ReSharper.ShufflySharp/XmlIndex/System.Drawing.Design.xml/E232227C.bin
/_ReSharper.ShufflySharp/XmlIndex/System.Drawing.xml/2F425360.bin
/_ReSharper.ShufflySharp/XmlIndex/System.Dynamic.4.0.0.0.Nullness.Generated.xml/8CC52453.bin
/_ReSharper.ShufflySharp/XmlIndex/System.EnterpriseServices.4.0.0.0.Nullness.Generated.xml/C42E9193.bin
/_ReSharper.ShufflySharp/XmlIndex/System.EnterpriseServices.xml/484CBB5B.bin
/_ReSharper.ShufflySharp/XmlIndex/System.Numerics.xml/B6F071FD.bin
/_ReSharper.ShufflySharp/XmlIndex/System.Runtime.Caching.4.0.0.0.Nullness.Generated.xml/8BB7FA53.bin
/_ReSharper.ShufflySharp/XmlIndex/System.Runtime.Caching.xml/6E34C19B.bin
/_ReSharper.ShufflySharp/XmlIndex/System.Runtime.DurableInstancing.4.0.0.0.Nullness.Generated.xml/94C6B993.bin
/_ReSharper.ShufflySharp/XmlIndex/System.Runtime.DurableInstancing.xml/952CDDB7.bin
/_ReSharper.ShufflySharp/XmlIndex/System.Runtime.Remoting.4.0.0.0.Nullness.Generated.xml/5A03BD53.bin
/_ReSharper.ShufflySharp/XmlIndex/System.Runtime.Remoting.xml/99D48EF3.bin
/_ReSharper.ShufflySharp/XmlIndex/System.Runtime.Serialization.4.0.0.0.Nullness.Generated.xml/4774B3B3.bin
/_ReSharper.ShufflySharp/XmlIndex/System.Runtime.Serialization.Attributes.xml/E749FA69.bin
/_ReSharper.ShufflySharp/XmlIndex/System.Runtime.Serialization.Formatters.Soap.2.0.0.0.Contracts.xml/6A729305.bin
/_ReSharper.ShufflySharp/XmlIndex/System.Runtime.Serialization.Formatters.Soap.4.0.0.0.Contracts.xml/4C2FB483.bin
/_ReSharper.ShufflySharp/XmlIndex/System.Runtime.Serialization.Formatters.Soap.4.0.0.0.Nullness.Generated.xml/F932F7B3.bin
/_ReSharper.ShufflySharp/XmlIndex/System.Runtime.Serialization.Formatters.Soap.xml/AC344D82.bin
/_ReSharper.ShufflySharp/XmlIndex/System.Runtime.Serialization.xml/014E8BDC.bin
/_ReSharper.ShufflySharp/XmlIndex/System.Security.xml/A33E1173.bin
/_ReSharper.ShufflySharp/XmlIndex/System.ServiceProcess.4.0.0.0.Nullness.Generated.xml/359B1C13.bin
/_ReSharper.ShufflySharp/XmlIndex/System.ServiceProcess.xml/2335E116.bin
/_ReSharper.ShufflySharp/XmlIndex/System.Transactions.4.0.0.0.Nullness.Generated.xml/3921BF93.bin
/_ReSharper.ShufflySharp/XmlIndex/System.Transactions.xml/A0E212F7.bin
/_ReSharper.ShufflySharp/XmlIndex/System.Web.4.0.0.0.Contracts.xml/9CAD0083.bin
/_ReSharper.ShufflySharp/XmlIndex/System.Web.4.0.0.0.Nullness.Generated.xml/4965C3B3.bin
/_ReSharper.ShufflySharp/XmlIndex/System.Web.4.0.0.0.Pure.xml/4657BE70.bin
/_ReSharper.ShufflySharp/XmlIndex/System.Web.ApplicationServices.4.0.0.0.Nullness.Generated.xml/3969B1B3.bin
/_ReSharper.ShufflySharp/XmlIndex/System.Web.ApplicationServices.xml/331D36EA.bin
/_ReSharper.ShufflySharp/XmlIndex/System.Web.Attributes.xml/C91B0A69.bin
/_ReSharper.ShufflySharp/XmlIndex/System.Web.I18n.xml/DDDA67C8.bin
/_ReSharper.ShufflySharp/XmlIndex/System.Web.RegularExpressions.xml/B6E517C5.bin
/_ReSharper.ShufflySharp/XmlIndex/System.Web.Services.4.0.0.0.Nullness.Generated.xml/30597093.bin
/_ReSharper.ShufflySharp/XmlIndex/System.Web.Services.Attributes.xml/336EB089.bin
/_ReSharper.ShufflySharp/XmlIndex/System.Web.Services.xml/057956D0.bin
/_ReSharper.ShufflySharp/XmlIndex/System.Web.xml/C4EB8CF0.bin
/_ReSharper.ShufflySharp/XmlIndex/System.Windows.Forms.4.0.0.0.Contracts.xml/0AA1AF83.bin
/_ReSharper.ShufflySharp/XmlIndex/System.Windows.Forms.4.0.0.0.Nullness.Generated.xml/E30F52B3.bin
/_ReSharper.ShufflySharp/XmlIndex/System.Windows.Forms.4.0.0.0.Pure.xml/FDE30D70.bin
/_ReSharper.ShufflySharp/XmlIndex/System.Windows.Forms.I18n.xml/4286B6C8.bin
/_ReSharper.ShufflySharp/XmlIndex/System.Windows.Forms.Manual.xml/4EEF7F3C.bin
/_ReSharper.ShufflySharp/XmlIndex/System.Windows.Forms.xml/628A07B4.bin
/_ReSharper.ShufflySharp/XmlIndex/System.Xaml.4.0.0.0.Nullness.Generated.xml/A8037753.bin
/_ReSharper.ShufflySharp/XmlIndex/System.Xaml.xml/C4D1BFD8.bin
/_ReSharper.ShufflySharp/XmlIndex/System.Xml.Linq.4.0.0.0.Contracts.xml/0FA00AA3.bin
/_ReSharper.ShufflySharp/XmlIndex/System.Xml.Linq.4.0.0.0.Nullness.Generated.xml/0EE20693.bin
/_ReSharper.ShufflySharp/XmlIndex/System.Xml.Linq.4.0.0.0.Pure.xml/9C820F10.bin
/_ReSharper.ShufflySharp/XmlIndex/System.Xml.Linq.I18n.xml/A5756368.bin
/_ReSharper.ShufflySharp/XmlIndex/System.Xml.Linq.xml/AD7A27CD.bin
/_ReSharper.ShufflySharp/XmlIndex/System.Xml.xml/04E9321C.bin
/_ReSharper.ShufflySharp/XmlIndex/System.xml/82B05E4B.bin
/_ReSharper.ShufflySharp/XmlIndex/mscorlib.xml/CFD54509.bin
/_ReSharper.ShufflySharp/XmlIndex/system.core.xml/9057731E.bin