<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Saltarelle.Compiler" version="0.0.0.91" targetFramework="net40" />
  <package id="Saltarelle.jQuery" version="0.0.0.45" targetFramework="net20" />
  <package id="Saltarelle.jQuery.UI" version="0.0.0.9" targetFramework="net20" />
  <package id="Saltarelle.Runtime" version="0.0.0.118" targetFramework="net40" />
  <package id="Saltarelle.Web" version="0.0.0.58" targetFramework="net20" />
</packages>