<div ng-controller="ActiveLobbyController">
    <div floating-window left="'50%'" top="'50%'" height="'600px'" width="'800px'"
         window-title="model.room.roomName + ' Lobby'" visible="visible" onclose="model.windowClosed()">
        <div style="width: 75%; height: 400px; float: left;" chat-box contents="model.chatLines">
        </div>
        <div style="width: 20%; height: 400px; float: left;" fancy-list items="model.users" bind="model.selectedUser">
            {{item.userName}}
        </div>
        <div style-="clear: left;"></div>
        <input style="float: left; width: 70%;" type="text" ui-keyup="{'enter':'model.sendChatMessage()'}" ng-model="model.currentChatMessage" />
        <button style="float: left; width: 28%;" ng-click="model.sendChatMessage()">Send Message!</button>
        <button style="float: left; width: 28%;" ng-click="model.startGame()">Start Game!</button>
    </div>
</div>