<div ng-controller="CreateRoomController">
    <div floating-window left="'50%'" top="'50%'" height="'100px'" width="'300px'"
        window-title="'Create Room'" onclose="model.windowClosed()" visible="visible">
        <section>
            <div class="form-group">
                <label for-next>Room Name:</label><input class="form-control" type="text" ng-model="model.roomName" />
            </div>
        </section>
        <button class="btn col-main right" ng-click="model.createRoom()">Create Room</button>
    </div>
</div>
