<script type="text/javascript">
    CodeMirror.commands.autocomplete = function (cm) {
        CodeMirror.showHint(cm, ACGIntellisense);
    }
</script>

    <script type="text/javascript" src="http://content.anycardgame.com/lib/codemirror/addon/hint/show-hint.js"></script>
    <link rel="stylesheet" href="http://content.anycardgame.com/lib/codemirror/addon/hint/show-hint.css">
    <script type="text/javascript" src="http://content.anycardgame.com/lib/codemirror/addon/hint/javascript-hint.js"></script>
    <script type="text/javascript" src="http://content.anycardgame.com/lib/codemirror/mode/javascript/javascript.js"></script>
      
<div ng-controller="GameCodeController">
    <div floating-window left="'25%'" top="'50%'" height="'500px'" width="'800px'" title="'Code Editor!'" visible="visible">
        
        
        <textarea ui-codemirror="{lineNumbers: true,theme:'midnight',mode:'javascript',extraKeys: { 'Ctrl-Space': 'autocomplete' }}" 
            ng-model="model.code"></textarea>
        
        <button ng-click="model.updateGame() ">save</button>
        {{model.updateStatus}}
    </div>
</div>