<div ng-controller="GameLayoutEditorController">
    <div floating-window left="'55%'" top="'40%'" height="'500px'" width="'400px'" title="'Game Layout Editor!'"
        visible="visible">
        <div style="width: 50%; float: left;">
            Width: 
            <input type="range" ng-model="model.game.gameLayout.width" />
            Height: 
            <input type="range" ng-model="model.game.gameLayout.height" />
            <button ng-click="model.toggleGrid()">Toggle Grid</button>
            Spaces:
            <div style="width: 150px; height: 100px;" fancy-list items="model.game.gameLayout.spaces" bind="model.selection.selectedSpace">
                {{item.name}}
            </div>
            <button ng-click="model.addSpace()">Add Space</button>
            Texts:
            <div style="width: 150px; height: 100px;" fancy-list items="model.game.gameLayout.texts" bind="model.selection.selectedText">
                {{item.name}}
            </div>
            <button ng-click="model.addText()">Add Text</button>
            Areas:
            <div style="width: 150px; height: 100px;" fancy-list items="model.game.gameLayout.areas" bind="model.selection.selectedArea">
                {{item.name}}
            </div>
            <button ng-click="model.addArea()">Add Area</button>
            <br/>
            <button ng-click="model.updateGame() ">save</button>
            {{model.updateStatus}}
             
            
            <button ng-click="model.openScenarios()">Edit Scenarios</button>


        </div>
        <div style="width: 50%; float: left;">
            Edit {{model.selection.selectedLayoutPiece}}
            <div ng-switch="model.selection.selectedLayoutPiece">
                <div ng-switch-when="space">
                    <h2>{{model.selection.selectedSpace.name}}</h2>
                    Name: <input type="text" ng-model="model.selection.selectedSpace.name" />
                    Left: <input type="range" min="0" max="{{model.game.gameLayout.width}}" ng-model="model.selection.selectedSpace.left" />{{model.selection.selectedSpace.left}}
                    Top: <input type="range" min="0" max="{{model.game.gameLayout.height}}" ng-model="model.selection.selectedSpace.top" />{{model.selection.selectedSpace.top}}
                    Width: <input type="range" min="0" max="{{model.game.gameLayout.width}}" ng-model="model.selection.selectedSpace.width" />{{model.selection.selectedSpace.width}}
                    Height: <input type="range" min="0" max="{{model.game.gameLayout.height}}" ng-model="model.selection.selectedSpace.height" />{{model.selection.selectedSpace.height}}
                    Vertical: <input type="checkbox" ng-model="model.selection.selectedSpace.vertical" />
                    <button ng-click="model.removeSpace(model.selection.selectedSpace)">Remove</button>
                </div>
                <div ng-switch-when="area">
                    <h2>{{model.selection.selectedArea.name}}</h2>
                    Name: <input type="text" ng-model="model.selection.selectedArea.name" />
                    Left: <input type="range" min="0" max="{{model.game.gameLayout.width}}" ng-model="model.selection.selectedArea.left" />{{model.selection.selectedArea.left}}
                    Top: <input type="range" min="0" max="{{model.game.gameLayout.height}}" ng-model="model.selection.selectedArea.top" />{{model.selection.selectedArea.top}}
                    Width: <input type="range" min="0" max="{{model.game.gameLayout.width}}" ng-model="model.selection.selectedArea.width" />{{model.selection.selectedArea.width}}
                    Height: <input type="range" min="0" max="{{model.game.gameLayout.height}}" ng-model="model.selection.selectedArea.height" />{{model.selection.selectedArea.height}}
                    <button ng-click="model.game.gameLayout.areas=model.game.gameLayout.areas.splice(model.game.gameLayout.areas.indexOf(model.selection.selectedArea),1);model.selection.selectedArea=null">Remove</button>
                </div>
                <div ng-switch-when="text">
                    <h2>{{model.selection.selectedText.name}}</h2>
                    Name: <input type="text" ng-model="model.selection.selectedText.name" />
                    Text: <input type="text" ng-model="model.selection.selectedText.text" />
                    Left: <input type="range" min="0" max="{{model.game.gameLayout.width}}" ng-model="model.selection.selectedText.left" />{{model.selection.selectedText.left}}
                    Top: <input type="range" min="0" max="{{model.game.gameLayout.height}}" ng-model="model.selection.selectedText.top" />{{model.selection.selectedText.top}}
                    <button ng-click="model.game.gameLayout.texts=model.game.gameLayout.texts.splice(model.game.gameLayout.texts.indexOf(model.selection.selectedText),1);model.selection.selectedText=null">Remove</button>
                </div>
            </div>
        </div>
    </div>
</div>
