<div ng-controller="GameTestEditorController">
    <div floating-window left="'55%'" top="'40%'" height="'500px'" width="'400px'" window-title="'Game Test Editor'"
         visible="visible">
        <button class="btn col-main full-width pad-top-small" ng-show="!model.gameRunning" ng-click="model.startGame()">Debug Game!</button>
        <button class="btn col-main full-width pad-top-small" ng-show="model.gameRunning" ng-click="model.destroyGame()">Kill Game!</button>
        <button class="btn col-main full-width pad-top-small" ng-click="model.debugCode()">Debug Code</button>

                <div>
            <textarea class="field span12" style="width:400px; height:460px;" ng-bind="model.log.join('\n)"></textarea>
        </div>
    </div>
</div>