<div ng-controller="HomeController">
    <div floating-window left="'400px'" top="'100px'" height="'450px'" width="'600px'"
        title="'Home'" visible="visible">
        <span>Welcome {{model.user.userName}}!</span>
        <div style="width: 100%; height: 100%;">
            <div style="width: 33%; float: left;">
                <span>Game Types:</span> 
                <div fancy-list items="model.gameTypes" bind="model.selectedGameType" style="height:300px;">
                    <div style="width:100%;height:40px">{{item.name}}</div>
                </div> 
                <button style="width: 100%;">Create Game!</button>
            </div>
            <div style="width: 33%; float: left;">
                <span>Rooms:</span>
                <button ng-click="model.gameTypeSelected()">Refresh!</button>
                <div fancy-list items="model.rooms" bind="model.selectedRoom" style="height:300px;">
                    <div style="width:100%;height:40px">Room: {{item.roomName}}</div>
                </div> 
                <button style="width: 100%;" ng-click="model.createRoom()">Create Room!</button>
            </div>
            <div style="width: 34%; float: left;">
                <div ng-show="model.selectedRoom">
                    <span>Game Type: {{model.selectedGameType.name}}</span> <span>Room Name: {{model.selectedRoom.roomName}}</span>
                    <div>
                        <button style="width: 46%;" ng-click="model.joinRoom()">Join!</button>
                        <button style="width: 46%;" ng-click="">Spectate!</button>
                    </div>
                    <div fancy-list items="model.selectedRoom.players" bind="model.highlightedPlayer" style="height:300px;">
                        <div style="width:100%;height:40px">User: {{item.userName}}</div>
                    </div>
                    <button style="width: 100%;" ng-click="model.roomSelected()">Refresh!</button>
                </div>
            </div>
        </div>
    </div>
</div>
