<div ng-controller="LoginController" >
    <div floating-window  left="'15%'" top="'15%'" height="'200px'" width="'200px'" title="'Login'" onclose=" model.windowClosed()" visible="visible">
        <section>
            <div><label>Username:</label><input type="text" ng-model="model.username" /></div>
            <div><label>Password:</label><input type="password" ng-model="model.password" /></div>
        </section>
        <button ng-click="model.createAccount()">Cr34te</button>
        <button ng-click="model.loginAccount()">L0gin</button>
    </div>
</div>