<div ng-controller="LoginController">
    <div floating-window left="'15%'" top="'15%'" height="'200px'" width="'200px'" window-title="'Login'" onclose=" model.windowClosed()" visible="visible">
        <section>
            <div class="form-group">
                <label for-next>Username:</label><input type="text" class="form-control" ng-model="model.username" />
            </div>
            <div class="form-group">
                <label for-next>Password:</label><input type="password"  class="form-control" ng-model="model.password" />
            </div>
        </section>
        <div class="btn-group">
            <button class="btn btn-primary" ng-click="model.createAccount()">Create</button>
            <button class="btn btn-primary" ng-click="model.loginAccount()">L0gin</button>
        </div>
    </div>
</div>
