<style type="text/css">
    .highlighter
    {
        list-style-type: none;
        background-color: antiquewhite;
        border: solid 2px antiquewhite;
    }
    
    .highlighter:hover
    {
        background-color: coral;
        border: solid 2px black;
    }
    .button {
        border: 2px solid black;
        background-color: white;
    }
    .button:hover {
        background-color: grey;
    }
</style>
<!--
<div ng-include src="'http://content.anycardgame.com/partials/UIs/EffectEditor.html'">
</div>
<div ng-include src="'http://content.anycardgame.com/partials/UIs/ListEffects.html'">
</div>
-->
<div ng-include src="'http://content.anycardgame.com/partials/UIs/Login.html'">
</div>
<div ng-include src="'http://content.anycardgame.com/partials/UIs/Home.html'">
</div>
<div ng-include src="'http://content.anycardgame.com/partials/UIs/ActiveLobby.html'">
</div>
<div ng-include src="'http://content.anycardgame.com/partials/UIs/CreateRoomDialog.html'">
</div>
<div ng-include src="'http://content.anycardgame.com/partials/UIs/Question.html'"></div>
