<!--
<div ng-include src="'http://content.anycardgame.com/partials/UIs/EffectEditor.html'">
</div>
<div ng-include src="'http://content.anycardgame.com/partials/UIs/ListEffects.html'">
</div>
-->
<div ng-include src="'http://content.anycardgame.com/partials/UIs/Login.html'">
</div>
<div ng-include src="'http://content.anycardgame.com/partials/UIs/Home.html'">
</div>
<div ng-include src="'http://content.anycardgame.com/partials/UIs/ActiveLobby.html'">
</div>
<div ng-include src="'http://content.anycardgame.com/partials/UIs/CreateRoomDialog.html'">
</div>
<div ng-include src="'http://content.anycardgame.com/partials/UIs/Question.html'">
</div>
