<!--
<div ng-include src="'http://198.211.107.101:8881/partials/UIs/EffectEditor.html'">
</div>
<div ng-include src="'http://198.211.107.101:8881/partials/UIs/ListEffects.html'">
</div>
-->
<div ng-include src="'http://198.211.107.101:8881/partials/UIs/Login.html'">
</div>
<div ng-include src="'http://198.211.107.101:8881/partials/UIs/Home.html'">
</div>
<div ng-include src="'http://198.211.107.101:8881/partials/UIs/ActiveLobby.html'">
</div>
<div ng-include src="'http://198.211.107.101:8881/partials/UIs/CreateRoomDialog.html'">
</div>
